{% extends "base.html" %}
{% block content %}

<div class="row align-items-center hero">

<div class="col-md-6 mb-4">
<h1 class="display-5 fw-bold">Smart School Management Platform</h1>

<p class="lead">
Manage students, payments, attendance and results in one secure system.
</p>

<a href="/register" class="btn btn-primary btn-lg me-2">Register</a>
<a href="/login" class="btn btn-outline-primary btn-lg">Login</a>
</div>

<div class="col-md-6 text-center">
<img src="{{ url_for('static', filename='images/students.jpg') }}"
     class="img-fluid rounded shadow">
</div>

</div>

{% endblock %}
