<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="container">
<h2>Student Registration</h2>

<form method="POST">

<input name="name" placeholder="Full Name" required>
<input name="email" placeholder="Email" required>

<h4>Select Courses</h4>

{% for course,price in prices.items() %}
<label>
<input type="checkbox" name="courses" value="{{course}}">
{{course}} (${{price}})
</label><br>
{% endfor %}

<br>
<button class="btn">Proceed to Payment</button>

</form>
</div>

</body>
</html>


